#include <windows.h>

// Icon
1 ICON "icon.ico"

// Version Info
1 VERSIONINFO
FILEVERSION     1,4,1,74
PRODUCTVERSION  1,4,1,74
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0" // Simplified Chinese, Unicode
        BEGIN
            VALUE "CompanyName",      "biliupforjava"
            VALUE "FileDescription",  "biliupforjava (1.4.1-beta7.4)"
            VALUE "FileVersion",      "1.4.1.74"
            VALUE "InternalName",     "biliupforjava"
            VALUE "OriginalFilename", "biliupforjava.exe"
            VALUE "ProductName",      "biliupforjava"
            VALUE "ProductVersion",   "1.4.1.74"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200 // Simplified Chinese
    END
END
