#include <windows.h>
#pragma code_page(65001)

// Icon
1 ICON "icon.ico"

// Version Info
1 VERSIONINFO
FILEVERSION     1,4,1,78
PRODUCTVERSION  1,4,1,78
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0" // Simplified Chinese, Unicode
        BEGIN
            VALUE "CompanyName",      "FQrabbit"
            VALUE "FileDescription",  "BiliUpForJava (1.4.1-beta7.8)"
            VALUE "FileVersion",      "1.4.1.78"
            VALUE "InternalName",     "biliupforjava"
            VALUE "OriginalFilename", "biliupforjava.exe"
            VALUE "ProductName",      "B站录播自动投稿工具BiliUpForJava"
            VALUE "ProductVersion",   "1.4.1.78"
            VALUE "LegalCopyright",   "Copyright (C) FQrabbit. Licensed under Apache-2.0. Source: https://github.com/FQrabbit/biliupforjava"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200 // Simplified Chinese
    END
END
